{% extends '../base.html' %}
{% load mathfilters %}
{% block csslink %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
			<div id="board">
				<form id="search_form" action="" method="post">
					{% csrf_token %}
					<input type="text" id="kwd" name="kwd" value="">
					<input type="submit" value="찾기">
				</form>
				<table class="tbl-ex">
					<tr>
						<th>번호</th>
						<th>제목</th>
						<th>글쓴이</th>
						<th>조회수</th>
						<th>작성일</th>
						<th>&nbsp;</th>
					</tr>
					{% for page_obj in page_obj %}
							<tr>
						<td>{{page_obj.board_no}}</td>
					 	{% if page_obj.depth > 0 %}
						<td style="text-align:left; padding-left:20px">
							<img src='/assets/images/reply.png'>
							<a href="/board/view?no={{page_obj.board_no}}">{{page_obj.title}}</a>
						</td>
						{% else %}
						<td style="text-align:left;">
							<a href="/board/view?no={{page_obj.board_no}}">{{page_obj.title}}</a>
						</td>
						{% endif %}

						<td>{{page_obj.no.name}}</td>
						<td>{{page_obj.hit}}</td>
						<td>{{page_obj.reg_date | date:'Y-m-d'}}</td>
                       {% if request.session.authuser.name == page_obj.no.name %}
                           <td>
                               <a href="/board/delete?no={{page_obj.board_no}}" class="del">삭제</a>
                           </td>
						{% else %}
							<td></td>
						{% endif %}
					{% endfor %}
				</table>
          <div>
            <ul class="pagination">
              {% if page_obj.has_previous %}
                <li class="page-item">
                  <a href="?page={{ page_obj.previous_page_number }}">
                    <span>◀</span>
                  </a>
                </li>
              {% else %}
                <li class="disabled">
                  <a href="#">
                    <span>◀</span>
                  </a>
                </li>
              {% endif %}

              {% for page_range in page_range %}
                <li {% if page_range == page_obj.number %}class="page-item active" {% else %}class="page-item"{% endif %}>
                  <a href="?page={{page_range}}">{{ page_range }}</a>
                </li>
              {% endfor %}


              {% if page_obj.has_next %}
                  <li class="page-item">
                  <a href="?page={{ page_obj.next_page_number }}">
                    <span>▶</span>
                  </a>
                </li>
              {% else %}
                <li {% if not page_obj.has_next %}class="disabled"{% endif %}>
                  <a href="#">
                    <span>▶</span>
                  </a>
                </li>
              {% endif %}
            </ul>
          </div>
				<!-- pager 추가 -->
				<div class="bottom">
					{% if request.session.authuser is not None %}
					<a href="/board/write" id="new-book">글쓰기</a>
					{% endif %}
				</div>				
			</div>
{% endblock %}